################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarND-Path-Planning-Project/.vs/
/products/
/docker_build
/.vs/CarND-Path-Planning-Project/v15
/.vs/config/applicationhost.config
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
