################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarND-Path-Planning-Project/.vs/
/products/
/docker_build
